@import '~node_modules/modern-normalize/modern-normalize.css';

/* default styles*/

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $primaryBackgroundColor;
    color: $primaryText;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon--svg {
    fill: currentColor;
}