//---------------BackGround---------------

$primaryBackgroundColor: #FFFFFF;
$headerBackground: rgba(0, 0, 0, 0.56);
$footerBackground: #F7F7F7;

//--------------Text Colors---------------
$primaryText: #000000;
$secondaryText: #ffffff;
$footerText: #545454;
$modalSecondary: #8C8C8C;

//-------------Accent---------------------
$primaryAccent: #FF6B08;
$secondaryAccent: #FF001B;