<div>
    <!-- Input Form -->
    <form class="search-form" id="search-form">
        <input id="search-query" type="text" name="searchQuery" autocomplete="off" placeholder="Search movies..." />
        <button class="submit-btn" type="submit">
          <svg class="subscription__icon" width="12" height="12">
              <use href="./images/icons.svg#search"></use>
          </svg></button>
    </form>
    <button type="button" class="load-more hidden"> Watched</button>
    <button type="button" class="load-more hidden">Queue</button>
</div>