<header class="header">
  <div class="container header__section">
    <nav class="header__nav nav">
      <div class="header__nav-container header__logo">
        <a
          href="/src/index.html"
          target="_self"
          rel="noopener noreferrer"
          title="Logo"
          class="logo link">
          <svg class="logo__icon icon--svg logo" width="24" height="24">
            <use href="./images/icons.svg#logo"></use>
          </svg>
          <span class="logo__text header__title">Filmoteka</span>
        </a>
      </div>
      <ul class="header__list list navbar">
        <li class="header__item  navbar__item">
          <a
            href="/src/index.html"
            target="_self"
            rel="noopener noreferrer"
            title="Home page"
            id="toggleHome"
            class="header__item-link current link navbar__link">Home
            <span class="current-home current-link"></span>
          </a>
        </li>
        <li class="header__item navbar__item">
          <a
            href="#"
            target="_self"
            rel="noopener noreferrer"
            title="My library"
            id="toggleLibrary"
            class="header__item-link js-library link navbar__link">My library
            <span class="current-library"></span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="hero">
      <div class="form-container">
        <form action="submit" class="header__form form" id="search-form">
          <input
            type="text"
            name="searchQuery"
            autofocus
            autocomplete="off"
            placeholder="Search movies..."
            class="header__form-input form__input"
            id="search-query"/>
          <button
            type="submit"
            aria-label="search-button"
            class="header__search-btn submit-btn">
            <svg class="header__form-icon form-icon" width="12" height="12">
              <use href="./images/icons.svg#search"></use>
            </svg>
          </button>
        </form>
        <p class="form__error header__notification"></p>
        <div class="library-btns hidden">
          <button type="button" class="button watched-btn"> Watched</button>
          <button type="button" class="button queue-btn">Queue</button>
        </div>
      </div><!-- <p class="header__notification"></p> -->
    </div> <!-- Theme-switcher -->    
  </div>
</header>



<!-- insert above for theme switch -->
  <!-- <div class="theme-switcher">
        <div class="theme-switcher__thumb"></div>
        <button
          type="button"
          aria-label="switch-theme"
          class="theme-switcher__btn">
          <svg class="theme-switcher__icon" width="16" height="16">
            <use href="/src/images/icons.svg#icon-moon"></use>
          </svg>
          <svg class="theme-switcher__icon" width="16" height="16">
            <use href="/src/images/icons.svg#icon-sun"></use>
          </svg>
        </button>
      </div> -->