%button {
  color: $primaryText;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.56);
  cursor: pointer;
  transition: background .9s, box-shadow .9s;
    &:hover,
    &:focus {
      background: $color-accent;
      box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    }
}
.watched-btn {
  @extend %button;
  padding: 14px 36px 12px;
  margin-right: 20px;
}

.queue-btn {
  @extend %button;
  padding: 14px 42px 12px;
}

.button-active {
    background: #FF6B01;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6); 
}

.library-btns {
  margin-top: 45px;
}