.current-link::after {
    position: absolute;
    display: inline-block;
    right: 129;
    top: 72;
    background-color: $primaryAccent;
    content: "";
    width: 34px;
    height: 3px;
    border-radius: 2px;
  @include mq ('tablet') {
    right: 185;
  }

  @include mq ('desktop') {
      right: 179;
  }
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar__item:first-child {
  margin-right: 40px;
}

.navbar__item {
  margin-bottom: 41px;
  color: $primaryText;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}