nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar__item:first-child {
  margin-right: 40px;
}

.navbar__item {
  margin-bottom: 41px;
  color: $primaryText;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.navbar__link {
  position: relative;
}

.current-link {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: -5;
  background-color: $primaryAccent;
  width: 100%;
  height: 3px;
  border-radius: 2px;
}